In [12]:
# 실습 1 - 가격이 가장 비싼 가게를 출력하는 프로그램 (단계별 구현)
import numpy as np
import pandas as pd

# 데이터 프레임 생성
df = pd.DataFrame(np.array([[1000, 25],[280, 120],[900, 30]]), index=['store1', 'store2', 'store3'], columns=['unit price', 'number'])
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [13]:
# 총 가격이 추가된 데이터 프레임 생성
df['total price'] = df['unit price']*df['number']
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [15]:
# 총 가격이 가장 비싼 가계 출력
maxvalue = max(df['total price'])
df2 = df[df['total price'] == maxvalue]
df2

        unit price  number  total price
store2         280     120        33600